body {
    background-image: url('/Images/background.png');
    background-repeat: repeat;
    font-family: 'Times New Roman' , Times, serif;
    font-size: 11pt;
    font-style: italic;
}

#wrapper {
    width: 1300px;
    margin-left: auto;
    margin-right:auto;
}

#admin-header {
    background: url('../Images/admin-header.png') no-repeat center;
    background-color: #eb0606;
    width: 1300px;
    height: 120px;
    font-size: 20pt;
    color: #f8f6f6;
    margin-left: auto;
    margin-right: auto;
}

#admin-navbar {
    margin-top: 10px;
    float: left;
    width: 400px;
}

#admin-content {
    margin-top: 10px;
    background-color: #fff9da;
    float: right;
    width: 890px;
    height: 500px;
}

#navbar {
    width:auto;
    color: #eb0606;
    cursor: pointer;
}

#navbar .menu {
    width: 390px;
    border-color: #eb0606;
    margin: 100px;
    height: 50px;
    border-style: solid;
    text-align: center;
    font-size: 15pt;
    font-family: Arial;
    font-style: normal;
}

#navbar .menu:hover {
    background-color: #f79b7d;
}

#navbar a:link, #navbar a:visited {
    text-decoration: none;
    color: #eb0606;
}